/* Regular */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --red: hsl(4, 100%, 67%);
  --red-light: hsla(4, 100%, 67%, 0.2);
  --red-violet: hsl(339, 100%, 62%);
  --red-orange: hsl(26, 91%, 62%);

  --blue-800: hsl(234, 29%, 20%);
  --blue-700: hsl(235, 18%, 26%);
  --grey: hsl(0, 0%, 58%);
  --white: hsl(0, 0%, 100%);

  --fw-normal: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

button {
  position: relative;
  background-color: var(--blue-800);
  color: var(--white);
  border: transparent;
  border-radius: 10px;
  font-weight: var(--fw-bold);
  width: 100%;

  cursor: pointer;
  font-size: 0.9rem;
  padding: 1.5rem 2rem;

  -webkit-tap-highlight-color: transparent;
}

button:hover {
  background-image: linear-gradient(
    90deg,
    var(--red-violet),
    var(--red),
    var(--red-orange)
  );
}

button:active {
  background-image: linear-gradient(
    90deg,
    var(--red-orange),
    var(--red),
    var(--red-violet)
  );
}

button:hover:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    to right,
    var(--red-violet),
    var(--red),
    var(--red-orange)
  );
  border-radius: 10px;
  z-index: 20;
  filter: blur(15px);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--blue-800);
}

body.modal-open {
  overflow: hidden;
}

picture img {
  font-style: italic;
  width: 100%;
  object-fit: cover;
}

.subscription-card {
  margin: 0 auto;
  width: clamp(20rem, 100%, 35rem);
}

.card-content-container {
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.card-content-container h1 {
  font-size: 2.5rem;
}

.card-content-container ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  list-style-type: none;
}

.card-content-container li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

/* Subscription form */

.subscription-form {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.form-status {
  display: flex;
  font-size: 0.8125rem;
  width: 100%;
}

.form-status label,
.form-status span {
  flex: 1;
}

.form-status label {
  font-weight: var(--fw-bold);
}

.error.active {
  font-weight: bold;
  color: var(--red);
}

.form__email-input[type="email"] {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--grey);
  border-radius: 10px;
  margin-top: 0.5rem;
}

.form__email-input[type="email"]:user-invalid {
  border: transparent;
  outline: 1px solid var(--red);
  background-color: var(--red-light);
  color: var(--red);
}

.button-container {
  position: relative;
  margin-top: 1.5rem;
}

/* Modal */

.subscription-success-modal.hidden {
  display: none;
}

.subscription-success-modal {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--blue-800);
}

.modal__card {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  height: 100vh;
  padding: 30% 1.5rem 20% 1.5rem;
  background-color: var(--white);
}

.modal__card > h2 {
  font-size: 2.5rem;
}
.modal__card > p {
  line-height: 1.4rem;
}

.modal__card button {
  margin-top: auto;
}

@media (min-width: 768px) {
  body {
    background-color: var(--blue-700);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
  }

  picture {
    grid-area: image;
  }

  picture img {
    height: 100%;
  }

  .subscription-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main image";
    background-color: var(--white);
    border-radius: 20px;
    margin-top: auto;
    padding: 1rem;
    width: clamp(20rem, 80%, 50rem);
  }

  .card-content-container {
    margin: auto 0;
  }

  /* Modal */

  .subscription-success-modal {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .modal__card {
    padding: 5rem;
    width: clamp(30rem, 50%, 35rem);
    height: auto;
    overflow-y: auto;
    border-radius: 20px;
  }
}

.attribution {
  margin-top: auto;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
